<% provide(:title, "編集") %>

<div class = "container">
    <%= link_to "← 一覧に戻る", '/', class:"text-decoration-none h5 mx-5" %>
    <h4 class = "my-3 text-center">予定の編集</h4>
    <%= form_with model: @post, url: {controller: 'posts', action: 'update' } do |form| %>
        <% if @post.errors.any? %>
            <div>
                <ul>
                    <% @post.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-group text-center">
            <%= form.label "タイトル" %><br>
            <%= form.text_field :title, value: @post.title %>
        </div>
        <div class="form-group text-center">
            <%= form.label "開始日" %><br>
            <%= form.text_field :startdate, value: @post.startdate, class: "datepicker" %>
        </div>
        <div class="form-group text-center">    
            <%= form.label "終了日" %><br>
            <%= form.text_field :enddate, value: @post.enddate, class: "datepicker" %>
        </div>
        <div class="form-group text-center">
            <%= form.label "スケジュールメモ" %><br>
            <%= form.text_area :content, value: @post.content %>
        </div>
        <div class="form-group text-center">    
            <%= form.label "全日" %>
            <%= form.check_box :allday, value: @post.allday, :as => :boolean %>
        </div>
        <div class="text-center mt-3">
            <%= form.submit "更新する",class: "btn btn-dark" %>
        </div>
    <% end %>
</div>