<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | ScheduleManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
          <%= link_to "スケジュール管理アプリ", '/', class:"navbar-brand justify-content-center" %>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %>
      <p class="container-fluid text-center mb-2 alert alert-<%= key %>">
        <%= value %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
